<strong>Recumperação de senha</strong>

<p>Foi solicitada uma recumperação de senha para o e-mail ({{email}}). Se não foi você desconsidere.</p>

<p>Para recumperar a senha utilize o token {{token}} ou clique no link abaixo</p>

<a href="{{link}}">Cadastrar nova senha</a>